---
layout: default
---

<div class="home">

    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}


        <h3 class="is-size-2">
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            <span class="is-size-5">({{ post.date | date: date_format }})</span>
        </h3>
        {{ post.excerpt }}

        {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
